.wy-side-nav-search
{
 background-color: #000000 !important;
}
.wy-nav-content
{
 max-width: 1050px !important;
 padding: 1.618em 6.236em !important;
}


.ethical-dark-theme .ethical-sidebar {
 visibility: hidden;
}


div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(1) > dt {
 visibility: hidden;
}

div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(1) > dt:after {
 content: '语言切换:';
 color: #ffffff;
 font-weight: bold;
 visibility: visible;
 display: block;
}


div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(1) > strong > dd > a {
 visibility: hidden;
}

div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(1) > strong > dd > a:after {
 content: '中文';
 visibility: visible;
 display: block;
}


div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(1) > dd > a {
 visibility: hidden;
}

div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(1) > dd > a:after {
 content: '英文';
 visibility: visible;
 display: block;
}


div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(2) {
 display: none;
}

div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(3) {
 display: none;
}
/* Hide "On READ THE DOCS" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
 display: none;
}
/* Hide "On GitHub" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(5) {
 display: none;
}

div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(6) {
 display: none;
}